<?xml version="1.0"?>
<config>
    <modules>
        <BenDechrai_BrandManager>
            <version>0.0.5</version>
        </BenDechrai_BrandManager>
    </modules>
    <admin>
        <routers>
            <bendechrai>
                <use>admin</use>
                <args>
                    <module>BenDechrai_BrandManager</module>
                    <frontName>bendechrai_brandmanager</frontName>
                </args>
            </bendechrai>
        </routers>
    </admin>
    <global>
        <models>
            <bendechrai_brandmanager>
                <class>BenDechrai_BrandManager_Model</class>
                <resourceModel>bendechrai_brandmanager_mysql4</resourceModel>
            </bendechrai_brandmanager>
            <bendechrai_brandmanager_mysql4>
                <class>BenDechrai_BrandManager_Model_Mysql4</class>
                <entities>
                    <brand>
                        <table>bd_bm_brand</table>
                    </brand>
                </entities>
            </bendechrai_brandmanager_mysql4>
        </models>
        <resources>
            <bendechrai_brandmanager_setup>
                <setup>
                    <module>BenDechrai_BrandManager</module>
                    <class>BenDechrai_BrandManager_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bendechrai_brandmanager_setup>
            <bendechrai_brandmanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bendechrai_brandmanager_write>
            <bendechrai_brandmanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bendechrai_brandmanager_read>
        </resources>
        <blocks>
            <bendechrai_brandmanager>
                <class>BenDechrai_BrandManager_Block</class>
            </bendechrai_brandmanager>
        </blocks>
        <helpers>
            <bendechrai_brandmanager>
                <class>BenDechrai_BrandManager_Helper</class>
            </bendechrai_brandmanager>
        </helpers>
        <events>
            <catalog_product_save_before>
                <observers>
                    <bendechrai_brandmanager>
                        <class>BenDechrai_BrandManager_Model_Observer</class>
                        <method>catalogProductSaveBefore</method>
                    </bendechrai_brandmanager>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
</config>
